<!-- Start Table -->
<div class="card m-3" style="min-width: fit-content">
  <div class="card-header d-flex justify-content-between">
    <h1 class="fw-bold">Doctor Manage</h1>
    <button data-bs-toggle="modal" data-bs-target="#addForm" class="btn btn-success">
      Add Doctor
    </button>
  </div>
  <div class="card-body">
    <div class="table-padding">
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"  class="table table-bordered text-center"> 
      <thead class="bg-dark text-white">
        <tr>
          <th>Name</th>
          <!-- <th>Image</th> -->
          <th>Phone</th>
          <th>Speciality</th>
          <th>Gender</th>
          <!-- <th>Age</th> -->
          <!-- <th>Email</th> -->
          <th>Days</th>
          <th>Start Time</th>
          <!-- <th>End Time</th> -->
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let doctor of doctors">
          <td>{{ doctor.firstname }} {{ doctor.lastname }}</td>
          <!-- <td>
            <a target="_blank" href="{{ doctor.image }}"><img src="{{ doctor.image }}" class="mx-auto" width="75px"
                height="60px" alt="" /></a>
          </td> -->
          <td>{{ doctor.phone }}</td>
          <td>{{getClinicService(doctor.clinicServiceID)}}</td>
          <td>{{ doctor.gender  }}</td> 
          <!-- <td>{{ doctor.gender == "m" ? "Male" : "Female" }}</td>  -->
          <!-- <td>{{calcAge(doctor.birthDate)}}</td>
          <td>{{ doctor.email }}</td> -->
          <td class="text-capitalize">{{parseWorkingDays(doctor.attendingDays)}}
            <span *ngFor="let day of attendingDaysString" class="badge bg-primary m-1">{{day}}</span>
          </td>

          <td>{{ doctor.startTime.h > 12 ?  doctor.startTime.h - 12:  doctor.startTime.h  }}:{{ doctor.startTime.m }} {{ doctor.startTime.h > 12 ?  "PM" : "AM"}}</td>
          <!-- <td>{{ doctor.startTime.h > 12 ?  doctor.startTime.h - 12:  doctor.startTime.h  }}:{{ doctor.endTime.m }} {{ doctor.endTime.h > 12 ?  "PM" : "AM"}}</td> -->
          <td>
            <button data-bs-toggle="modal" data-bs-target="#detailsModal" class="btn btn-primary m-1"
              (click)="catchDoctor(doctor)">
              Details
            </button>
            <button data-bs-toggle="modal" data-bs-target="#addForm" class="btn btn-success m-1"
              (click)="catchDoctor(doctor)">
              Edit
            </button>
            <button data-bs-toggle="modal" data-bs-target="#deleteForm" class="btn btn-danger m-1"
              (click)="catchDoctor(doctor)">
              Delete
            </button>
          </td>
        </tr>
      </tbody>
      </table>
    </div>
  </div>
</div>
<!-- End Table -->


<!-- Start Form Modal -->
<div class="modal fade" id="addForm" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="addModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header px-5 bg-black text-white">
        <h2 *ngIf="!edit" class="modal-title" id="addModalTitle">Add Doctor</h2>
        <h2 *ngIf="edit" class="modal-title" id="addModalTitle">Edit Doctor</h2>
        <button type="button" class="btn-close bg-white" data-bs-dismiss="modal" aria-label="Close" (click)="closeForm()"></button>
      </div>
      <form action="" [formGroup]="validateInputs" id="myForm" #myForm="ngForm" method="post">
        <div class="modal-body px-5">
          <div class="row">
            <div class="my-3 col-lg-4 col-md-6 col-12">
              <label for="fname" class="form-label">First Name</label>
              <input type="text" class="form-control" [ngClass]="validateInputs.get('firstName')?.valid||validateInputs.get('firstName')?.untouched?'':'errorClass'" id="firstName" placeholder="Ex : Ahmed" #firstName
                [value]="doctor.firstname" formControlName="firstName" />
            </div>
            <div class="my-3 col-lg-4 col-md-6 col-12">
              <label for="lname" class="form-label">Last Name</label>
              <input type="text" class="form-control" #lastName id="lname" placeholder="Ex : Mohamed"
                [value]="doctor.lastname" [ngClass]="validateInputs.get('lastName')?.valid||validateInputs.get('lastName')?.untouched?'':'errorClass'" formControlName="lastName" />
            </div>
            <div class="my-3 col-lg-4 col-md-6 col-12">
              <label for="phone" class="form-label">Phone</label>
              <input type="tel" class="form-control" [ngClass]="validateInputs.get('phone')?.valid||validateInputs.get('phone')?.untouched?'':'errorClass'" #phone id="phone" [value]="doctor.phone" formControlName="phone" />
            </div>
            <div class="my-3 col-lg-4 col-md-6 col-12">
              <label for="Speciality" class="form-label">Speciality</label>
              <select class="form-select" id="Speciality" name="Speciality"
                (blur)="setClinicServiceID(Speciality.value)" #Speciality required>
                <option *ngIf="!edit" selected></option>
                <option *ngFor="let c of clinicServices" value={{c._id}} [selected]="selectSpeciality(c._id)">{{c.name}}</option>
              </select>
            </div>
            <div class="my-3 col-lg-4 col-md-6 col-12">
              <label for="gender" class="form-label">Gender</label>{{validateInputs.get('gender')?.value}}
              <select class="form-select" id="gender" name="gender" formControlName="gender">
                <option [selected]="selectGender('m')" value="m">Male</option>
                <option value="f" [selected]="selectGender('f')">Female</option>
              </select>
            </div>
            <div class="my-3 col-lg-4 col-md-6 col-12">
              <label for="age" class="form-label">BirthDate</label>
              <input type="date" class="form-control" value="{{validateInputs.get('birthDate')?.value}}" [value]="parseDate(doctor.birthDate)" max="2000-01-01"#age id="age" formControlName="birthDate" />
            </div>
            <div class="my-3 col-lg-4 col-md-6 col-12">
              <label for="email" class="form-label">Email address</label>
              <input type="email" class="form-control" id="email" [ngClass]="validateInputs.get('email')?.valid||validateInputs.get('email')?.untouched?'':'errorClass'" formControlName="email" [value]="edit?doctor.email:''" placeholder="name@example.com" #email
                [value]="doctor.email" required />
            </div>
            <div class="my-3 col-lg-4 col-md-6 col-12">
              <label for="password" class="form-label">Login Password</label>
              <input type="password" class="form-control" id="password" #password formControlName="password" />
            </div>

            <div *ngIf="!edit" class="my-3 col-lg-4 col-md-6 col-12">
              <label for="image" class="form-label">Image</label>
              <input class="form-control" type="file" formControlName="image" id="image" (change)="onFileSelected($event)" multiple required />
            </div>
            <div class="my-3 col-lg-4 col-md-6 col-12">
              <label for="Speciality" class="form-label">Available Days</label>
              <div class="form-group">
                <div class="form-check form-check-inline" >
                  <input class="form-check-input" type="checkbox" (change)="setday(sat.value)" [checked]="attendingDays[0]" #sat id="sat"  name="sat"
                    value="sat" />
                  <label class="form-check-label" for="sat">Sat</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" (change)="setday(sun.value)" [checked]="attendingDays[1]" #sun id="sun" name="sun" 
                    value="sun" />
                  <label class="form-check-label" for="sun">Sun</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" (change)="setday(mon.value)" [checked]="attendingDays[2]" #mon id="mon" name="mon"
                    value="mon" />
                  <label class="form-check-label" for="mon">Mon</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" (change)="setday(tue.value)" [checked]="attendingDays[3]" #tue id="tue" name="tue"
                    value="tue" />
                  <label class="form-check-label" for="tue">Tue</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" (change)="setday(wed.value)" [checked]="attendingDays[4]" #wed id="wed" name="wed"
                    value="wed" />
                  <label class="form-check-label" for="wed">Wed</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" (change)="setday(thu.value)" [checked]="attendingDays[5]" #thu id="thu" name="thu"
                    value="thu" />
                  <label class="form-check-label" for="thu">Thu</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" (change)="setday(fri.value)" [checked]="attendingDays[6]" #fri id="fri" name="fri"
                    value="fri" />
                  <label class="form-check-label" for="fri">Fri</label>
                </div>
              </div>
            </div>
            <div class="my-3 col-lg-4 col-md-6 col-12">
              <label for="startTime" class="form-label">Start Time</label>
              <input type="time" id="startTime" value="{{parseTime(doctor.startTime)}}" #sTime (blur)="show()"
                formControlName="startTime" />
            </div>
            <div class="my-3 col-lg-4 col-md-6 col-12">
              <label for="endTime" class="form-label">End Time</label>
              <input type="time" #eTime id="endTime" [ngClass]="endTimeFlag?'':'errorClass'" value="{{parseTime(doctor.endTime)}}" (blur)="validateTime(eTime.value)" formControlName="endTime" />
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="closeForm()" data-bs-dismiss="modal">
            Cancel
          </button>
          <button *ngIf="edit" type="submit" class="btn btn-success" (click)="
          addDoctor(
            password.value,
            email.value,
            age.value,
            firstName.value,
            lastName.value,
            phone.value,
            sTime.value,
            eTime.value
          )
        " data-bs-dismiss="modal">
            Edit
          </button>
          <button *ngIf="!edit" type="button" class="btn btn-success" (click)="
          addDoctor(
            password.value,
            email.value,
            age.value,
            firstName.value,
            lastName.value,
            phone.value,
            sTime.value,
            eTime.value
          )
        " [disabled]="validateInputs.invalid||!endTimeFlag" data-bs-dismiss="modal">
            Add
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- End Form Modal -->


<!-- Start Delete Modal -->
<div class="modal fade" id="deleteForm" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="modalTitle" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalTitle">Delete Doctor</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="" (submit)="delete()" method="get">
        <div class="modal-body">
          <h4>
            Are You Sure You Want to Delete Doctor {{ doctor.firstname }}
            {{ doctor.lastname }} ?
          </h4>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-bs-dismiss="modal">
            Cancel
          </button>
          <button type="submit" class="btn btn-danger" data-bs-dismiss="modal">
            Delete
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- End Delete Modal -->


<!-- Start Details Modal -->
<div class="modal col-8 fade" id="detailsModal"  data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="detailsModalTitle" aria-hidden="true">
  <div class="modal-dialog ">
    <div class="modal-content">
      <div class="modal-header px-5 bg-black text-white">
        <button type="button" class="btn-close bg-white" data-bs-dismiss="modal" aria-label="Close" (click)="closeForm()"></button>
      </div>
      <div class="modal-body m-2 row">
        <div class="detailsImg text-center">
          <img src="{{ doctor.image }}" width="150px" class="rounded-circle" height="150px" alt="">
        </div>
        <h2 class="text-center">{{ doctor.firstname }} {{ doctor.lastname }}</h2>
        <div class="row mx-auto">
          
          <div class="col-12 d-flex border-bottom mt-3 align-items-center justify-content-between">
            <h6>Clinic Servic : </h6>
            <h6> {{getClinicService(doctor.clinicServiceID)}}</h6>
          </div>
          <div class="col-12 d-flex border-bottom mt-3 align-items-center justify-content-between">
            <h6>Phone : </h6>
            <h6> {{doctor.phone}}</h6>
          </div>
          <div class="col-12 d-flex border-bottom mt-3 align-items-center justify-content-between">
            <h6>Email : </h6>
            <h6> {{doctor.email}}</h6>
          </div>
          <div class="col-12 d-flex border-bottom mt-3 align-items-center justify-content-between">
            <h6>Birthdate : </h6>
            <h6> {{doctor.birthDate}}</h6>
          </div>
          <div class="col-12 d-flex border-bottom mt-3 align-items-center justify-content-between">
            <h6>Gender : </h6>
            <h6>{{ doctor.gender == "m" ? "Male" : "Female" }}</h6>
          </div>
          <div class="col-12 d-flex border-bottom mt-3 align-items-center justify-content-between">
            <h6>Days : </h6>
            <h6> <span *ngFor="let day of attendingDaysString" class="badge bg-primary m-1">{{day}}</span></h6>
          </div>
          <div class="col-12 d-flex border-bottom mt-3 align-items-center justify-content-between">
            <div class="col-5 d-flex align-items-center justify-content-between">
              <h6>Start Time : </h6>
              <h6>{{ doctor.startTime.h > 12 ?  doctor.startTime.h - 12:  doctor.startTime.h  }}:{{ doctor.startTime.m }} {{ doctor.startTime.h > 12 ?  "PM" : "AM"}}</h6>
            </div>
            <div class="col-5 d-flex align-items-center justify-content-between">
              <h6>End Time : </h6>
              <h6>{{ doctor.endTime.h > 12 ?  doctor.endTime.h - 12:  doctor.endTime.h  }}:{{ doctor.endTime.m }} {{ doctor.endTime.h > 12 ?  "PM" : "AM"}}</h6>
            </div>
          </div>
  
       
        </div>
      </div>
    </div>
  </div>
</div>
    <!-- <th>Image</th> -->
    <!-- <th>Phone</th> -->
    <!-- <th>Speciality</th> -->
    <!-- <th>Gender</th> -->
    <!-- <th>Age</th> -->
    <!-- <th>Email</th> -->
    <!-- <th>Days</th> -->
    <!-- <th>Start Time</th> -->
    <!-- <th>End Time</th> -->
<!-- End Details Modal -->