<!-- Start Table -->
<div class="card m-3" style="min-width: fit-content">
  <div class="card-header d-flex justify-content-between">
    <h1 class="fw-bold">Doctor Manage</h1>
    <button data-bs-toggle="modal" data-bs-target="#addForm" class="btn btn-success">
      Add Doctor
    </button>
  </div>
  <div class="card-body">
    <table #dataTable class="table table-bordered border-dark">
      <thead class="bg-dark text-white">
        <tr>
          <th>Image</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Phone</th>
          <th>Speciality</th>
          <th>Gender</th>
          <th>Age</th>
          <th>Email</th>
          <th>Days</th>
          <th>Start Time</th>
          <th>End Time</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let doctor of doctors">
          <td>
            <a target="_blank" href="{{ doctor.image }}"><img src="{{ doctor.image }}" class="mx-auto" width="75px"
                height="60px" alt="" /></a>
          </td>
          <td>{{ doctor.firstname }}</td>
          <td>{{ doctor.lastname }}</td>
          <td>{{ doctor.phone }}</td>
          <td>{{getClinicService(doctor.clinicServiceID)}}</td>
          <td>{{ doctor.gender }}</td>
          <td>{{calcAge(doctor.birthDate)}}</td>
          <td>{{ doctor.email }}</td>
          <td class="text-capitalize">{{parseWorkingDays(doctor.attendingDays)}}
            <ul>
              <li *ngFor="let day of attendingDaysString">
                {{day}}
              </li>
            </ul>
          </td>
          <td>{{ doctor.startTime.h }}:{{ doctor.startTime.m }}</td>
          <td>{{ doctor.endTime.h }}:{{ doctor.endTime.m }}</td>
          <td>
            <button data-bs-toggle="modal" data-bs-target="#addForm" class="btn btn-success mx-1 my-auto"
              (click)="catchDoctor(doctor)">
              Edit
            </button>
            <button data-bs-toggle="modal" data-bs-target="#deleteForm" class="btn btn-danger mx-1 my-auto"
              (click)="catchDoctor(doctor)">
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- End Table -->
<!-- Start Form Modal -->
<div class="modal fade" id="addForm" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="addModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header px-5 bg-black text-white">
        <h2 *ngIf="!edit" class="modal-title" id="addModalTitle">Add Doctor</h2>
        <h2 *ngIf="edit" class="modal-title" id="addModalTitle">Edit Doctor</h2>
        <button type="button" class="btn-close bg-white" data-bs-dismiss="modal" aria-label="Close" (click)="cancel()"></button>
      </div>
      <form action="" method="post">
        <div class="modal-body px-5">
          <div class="row">
            <div class="my-3 col-lg-4 col-md-6 col-12">
              <label for="fname" class="form-label">First Name</label>
              <input type="text" class="form-control" id="fname" placeholder="Ex : Ahmed" #firstName
                [value]="doctor.firstname" required />
            </div>
            <div class="my-3 col-lg-4 col-md-6 col-12">
              <label for="lname" class="form-label">Last Name</label>
              <input type="text" class="form-control" #lastName id="lname" placeholder="Ex : Mohamed"
                [value]="doctor.lastname" required />
            </div>
            <div class="my-3 col-lg-4 col-md-6 col-12">
              <label for="phone" class="form-label">Phone</label>
              <input type="tel" class="form-control" #phone id="phone" [value]="doctor.phone" required />
            </div>
            <div class="my-3 col-lg-4 col-md-6 col-12">
              <label for="Speciality" class="form-label">Speciality</label>
              <select class="form-select" id="Speciality" name="Speciality"
                (blur)="setClinicServiceID(Speciality.value)" #Speciality required>
                <option selected></option>
                <option *ngFor="let c of clinicServices" value={{c._id}}>{{c.name}}</option>
              </select>
            </div>
            <div class="my-3 col-lg-4 col-md-6 col-12">
              <label for="gender" class="form-label">Gender</label>
              <select class="form-select" id="gender" name="gender" [(ngModel)]="gender" required>
                <option selected value="m">Male</option>
                <option value="f">Female</option>
              </select>
            </div>
            <div class="my-3 col-lg-4 col-md-6 col-12">
              <label for="age" class="form-label">Age</label>
              <input type="date" class="form-control" #age id="age" required />
            </div>
            <div class="my-3 col-lg-4 col-md-6 col-12">
              <label for="email" class="form-label">Email address</label>
              <input type="email" class="form-control" id="email" placeholder="name@example.com" #email
                [value]="doctor.email" required />
            </div>
            <div class="my-3 col-lg-4 col-md-6 col-12">
              <label for="password" class="form-label">Login Password</label>
              <input type="password" class="form-control" id="password" [value]="doctor.password" #password required />
            </div>

            <div class="my-3 col-lg-4 col-md-6 col-12">
              <label for="image" class="form-label">Image</label>
              <input class="form-control" type="file" id="image" (change)="onFileSelected($event)" multiple required />
            </div>
            <div class="my-3 col-lg-4 col-md-6 col-12">
              <label for="Speciality" class="form-label">Available Days</label>
              <div class="form-group">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" [(ngModel)]="attendingDays[0]" type="checkbox" id="sat" name="sat"
                    value="sat" />
                  <label class="form-check-label" for="sat">Sat</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="sun" name="sun" [(ngModel)]="attendingDays[1]"
                    value="sun" />
                  <label class="form-check-label" for="sun">Sun</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="mon" name="mon" [(ngModel)]="attendingDays[2]"
                    value="mon" />
                  <label class="form-check-label" for="mon">Mon</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="tue" name="tue" [(ngModel)]="attendingDays[3]"
                    value="tue" />
                  <label class="form-check-label" for="tue">Tue</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="wed" name="wed" [(ngModel)]="attendingDays[4]"
                    value="wed" />
                  <label class="form-check-label" for="wed">Wed</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="thu" name="thu" [(ngModel)]="attendingDays[5]"
                    value="thu" />
                  <label class="form-check-label" for="thu">Thu</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="fri" name="fri" [(ngModel)]="attendingDays[6]"
                    value="fri" />
                  <label class="form-check-label" for="fri">Fri</label>
                </div>
              </div>
            </div>
            <div class="my-3 col-lg-4 col-md-6 col-12">
              <label for="startTime" class="form-label">Start Time</label>
              <input type="time" class="form-control" id="startTime" #sTime (blur)="setStartTime(sTime.value)"
                required />
            </div>
            <div class="my-3 col-lg-4 col-md-6 col-12">
              <label for="endTime" class="form-label">Ende Time</label>
              <input type="time" class="form-control" #eTime id="endTime" (blur)="validateTime(eTime.value)" required />
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="cancel()">
            Cancel
          </button>
          <button *ngIf="edit" type="submit" class="btn btn-success" (click)="
          addDoctor(
            password.value,
            email.value,
            age.value,
            firstName.value,
            lastName.value,
            phone.value,
            sTime.value,
            eTime.value
          )
        " data-bs-dismiss="modal">
            Edit
          </button>
          <button *ngIf="!edit" type="button" class="btn btn-success" (click)="
          addDoctor(
            password.value,
            email.value,
            age.value,
            firstName.value,
            lastName.value,
            phone.value,
            sTime.value,
            eTime.value
          )
        " data-bs-dismiss="modal">
            Add
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- End Form Modal -->
<!-- Start Delete Modal -->
<div class="modal fade" id="deleteForm" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="modalTitle" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalTitle">Delete Doctor</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="" (submit)="delete()" method="get">
        <div class="modal-body">
          <h4>
            Are You Sure You Want to Delete Doctor {{ doctor.firstname }}
            {{ doctor.lastname }} ?
          </h4>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-bs-dismiss="modal">
            Cancel
          </button>
          <button type="submit" class="btn btn-danger" data-bs-dismiss="modal">
            Delete
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- End Delete Modal -->