<!DOCTYPE html>
<html lang="en">
<body>
    <!-- <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css"> -->
    <!-- Table Start -->
    <div class="container mt-5 border border-solid card">
        <div class="row p-1 d-flex justify-content-around">
            
            <div class="col-6 col-md-6 my-5">
                <h2 class="offset-lg-1">Doctor Manage</h2>
            </div>
            <div class="col-6 my-5">
                <button class="btn btn-success col-lg-3 offset-md-6 offset-2 offset-sm-4 offset-lg-8 ">Add Doctor</button>
            </div>
        </div>
        <div class="p-3">
            <table #dataTable  id="table_id" class="table table-responsive table-bordered display">
                <thead>
                    <tr >
                        <th>Column 1</th>
                        <th>Column 2</th>
                        <th>Column 2</th>
                        <th>Column 2</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>ali</td>
                        <td>ss</td>
                        <td>ss</td>
                        <td>ss</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- Table End -->
    <!-- <script type="text/javascript" charset="utf8"
        src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function () {
            $('#table_id').DataTable();
        });
    </script> -->
</body>
</html>
