<!-- Start Table -->
<div class="card m-3" style="min-width: fit-content">
    <div class="card-header d-flex justify-content-between">
      <h1 class="fw-bold">Patient Manage</h1>
      <button
        data-bs-toggle="modal"
        data-bs-target="#addForm"
        class="btn btn-success"
        (click)="addButton()"
      >
        Add Patient
      </button>
    </div>
    <div class="card-body">
      <div class="table-padding">
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"  class="table table-bordered text-center"> 
        <thead class="bg-dark text-white">
          <tr>
            <th>Name</th>
            <th>Image</th>
            <th>Phone</th>
            <th>Emergency Phone</th>
            <th>Gender</th>
            <th>Age</th>
            <th>Email</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let patient of patients">
            <td>{{patient.firstname}} {{patient.lastname}}</td>
            <td>{{patient.phone}}</td>
            <td>
              <a
                target="_blank"
                href="{{patient.image}}"
                ><img
                  src="{{patient.image}}"
                  class="mx-auto"
                  width="75px"
                  height="60px"
                  alt=""
              /></a>
            </td>
            <td>{{patient.emergencyPhone}}</td>
            <td>{{ patient.gender == "m" ? "Male" : "Female" }}</td>
            <td>{{calcAge(patient.birthDate)}}</td>
            <td>{{patient.email}}</td>
            <td>
              <button
                data-bs-toggle="modal"
                data-bs-target="#addForm"
                class="btn btn-success m-1 "
                (click)="onClick(patient)"
              >
                Edit
              </button>
              <button
                data-bs-toggle="modal"
                data-bs-target="#deleteForm"
                class="btn btn-danger m-1 "
                (click)="onClick(patient)"
              >
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    </div>
  </div>
  <!-- End Table -->
  <!-- Start Form Modal -->
  <div
    class="modal fade"
    id="addForm"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="addModalTitle"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header px-5 bg-black text-white" >
          <h2 *ngIf="!edit" class="modal-title" id="addModalTitle">Add Patient</h2>
          <h2 *ngIf="edit" class="modal-title" id="addModalTitle">Edit Patient</h2>
          <button
            type="button"
            class="btn-close bg-white"
            data-bs-dismiss="modal"
            aria-label="Close"
            (click)="closeForm()"
          ></button>
        </div>
        <form
          [formGroup]="validateInputs"
          action=""
          (submit)="addPatient(
            firstName.value,
            lastName.value,
            phone.value,
            emergencyPhone.value,
            gender.value,
            bdate.value,
            email.value,
            password.value
            )"
          method="post"
        >
          <div class="modal-body px-5">
            <div class="row">
              <div class="my-3 col-lg-4 col-md-6 col-12">
                <label for="fname" class="form-label">First Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="fname"
                  placeholder="Ex : Ahmed"
                  #firstName
                  required
                  value={{patient?.firstname}}
                  formControlName="firstName"
                />
              </div>
              <div class="my-3 col-lg-4 col-md-6 col-12">
                <label for="lname" class="form-label">Last Name</label>
                <input
                  type="text"
                  class="form-control"
                  #lastName
                  id="lname"
                  placeholder="Ex : Mohamed"
                  required
                  value={{patient?.lastname}}
                  formControlName="lastName"
                />
              </div>
              <div class="my-3 col-lg-4 col-md-6 col-12">
                <label for="phone" class="form-label">Phone</label>
                <input
                  type="tel"
                  class="form-control"
                  #phone
                  id="phone"
                  value={{patient?.phone}}
                  formControlName="phone"
                  [ngStyle]="validateInputs.get('phone')?.valid||validateInputs.get('phone')?.untouched?{}:style"
                />
              </div>
              <div class="my-3 col-lg-4 col-md-6 col-12">
                <label for="emergencyPhone" class="form-label">Emergency Phone</label>
                <input
                  type="tel"
                  class="form-control"
                  #emergencyPhone
                  id="emergencyPhone"
                  value={{patient?.emergencyPhone}}
                  formControlName="emergencyPhone"
                  [ngStyle]="validateInputs.get('emergencyPhone')?.valid||validateInputs.get('emergencyPhone')?.untouched?{}:style"
                />
              </div>
              <div class="my-3 col-lg-4 col-md-6 col-12">
                <label for="gender" class="form-label">Gender</label>
                <select
                  class="form-select"
                  id="gender"
                  name="gender"
                  required
                  #gender
                  value={{patient?.gender}}
                  formControlName="gender"
                > 
                  <option selected value="m">Male</option>
                  <option value="f">Female</option>
                </select>
              </div>
              <div class="my-3 col-lg-4 col-md-6 col-12">
                <label for="bdate" class="form-label">BirthDate</label>
                <input
                  type="date"
                  class="form-control"
                  #bdate
                  id="bdate"
                  max="2000-01-01"
                  min="1900-01-01"
                  required
                  value={{calcAge(patient?.birthDate)}}
                  [value]="parseDate(patient?.birthDate)"
                  formControlName="birthDate"
                />
              </div>
              <div class="my-3 col-lg-4 col-md-6 col-12">
                <label for="email" class="form-label">Email address</label>
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  placeholder="name@example.com"
                  #email
                  value={{patient?.email}}
                  formControlName="email"
                  [ngStyle]="validateInputs.get('email')?.valid||validateInputs.get('email')?.untouched?{}:style"
                />
              </div>
              <div class="my-3 col-lg-4 col-md-6 col-12">
                <label for="password" class="form-label">Login Password</label>
                <input
                  type="password"
                  class="form-control"
                  id="password"
                  #password
                  required
                  value={{patient?.password}}
                  formControlName="password"
                />
              </div>
  
              <div class="my-3 col-lg-4 col-md-6 col-12">
                <label *ngIf="!edit" accept=".jpg,.png,.jpeg" for="image" class="form-label">Image</label>
                <input
                  *ngIf="!edit"
                  class="form-control"
                  type="file"
                  id="image"
                  (change)="onFileSelected($event)"
                  #image
                  multiple
                  required
                  formControlName="image"
                />
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="closeForm()">
              Cancel
            </button>
            <button *ngIf="!edit" type="submit" class="btn btn-success" data-bs-dismiss="modal"
            [disabled]="validateInputs.invalid">
              Add
            </button>
            <button *ngIf="edit" type="submit" class="btn btn-success" data-bs-dismiss="modal">
              Edit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  
  <!-- End Form Modal -->
  <!-- Start Delete Modal -->
  <div
    class="modal fade"
    id="deleteForm"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="modalTitle"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalTitle">Delete Patient</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <form action="" (submit)="deletePatient()" method="get">
          <div class="modal-body">
            <h4>
              Are You Sure You Want to Delete Patient {{ patient?.firstname }}
              {{ patient?.lastname }} ?
            </h4>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success" data-bs-dismiss="modal">
              Cancel
            </button>
            <button type="submit" class="btn btn-danger" data-bs-dismiss="modal">
              Delete
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- End Delete Modal -->
  