<div class="homeBg">
  <div
    class="d-flex flex-column align-items-center position-absolute top-50 start-50 translate-middle p-4"
    style="
      width: 420px;
      border-radius: 15px;
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      background-color: rgba(169, 169, 169, 0.3);
    "
  >
    <h1 class="text-primary text-center fw-bold m-0">Clinic System</h1>
    <p class="text-dark text-center fw-bold lh-lg m-4">
      Clinics have been popular with patients with minor ailments and also for
      certain specialties. They provide easy access to healthcare without having
      to go to hospitals. For a visit with a dentist or an ophthalmologist, most
      people visit a doctor at their clinics than spend time waiting at a
      hospital.
    </p>
    <button class="btn btn-primary p-2 fw-bold" style="width: 120px" (click)="gotoLogin()">
      Login
    </button>
  </div>
</div>
